/**********************************************************************************************************/
/*                                       Style Sheet for 2077 web                                         */
/*                                        Author: Manuel Alarcón                                          */
/*                                             version: 1.0                                               */
/*                                   Comments: final project 2023-24                                      */
/**********************************************************************************************************/

/**************************************fonts********************************************/

@font-face{
    font-family: cybertitulo;
    src: url(../font/KogniGear.ttf);
    }

@font-face {
    font-family: cybertext;
    src: url(../font/spacejunkXL.ttf);
    }

/********************************general style********************************************/

body{
    background-image: url(../img/fotosBladeRunner/haikei.blade.png) ;
    color:  #A8C4F5;
    }

html{
    scroll-behavior: smooth;
}

h1{
    font-family: cybertitulo;
    color: #906495;
    position: absolute;
    top: 20px;
    left: 200px;
    font-size: 900%;
    }

h2{
    font-family: cybertitulo;
    color: #906495;
    }

h3{
    font-family: cybertitulo;
    color: #906495;
    }

button{
    font-family: cybertext;
    background-color:#17091B;
    color:#A8C4F5;
    border-color: #906495;
    font-size: 1em;
    border-radius: 10px;
    padding: 10px 7.5px;
    float: right;
}

button:hover {
    background-color: #906495 ;
    color:#17091B;
    border-color: #A8C4F5;
    cursor: pointer;
}


#wrapper{
    width:80%; 
    margin:auto;
    background-color: #17091B;
    font-family: cybertext; 
    }
    

    /************************************card dentro de grid-4*******************************/

.card{
    width: 100%;
    border: 1px solid #906495;
    border-radius: 4%;
    background-color: #17091B;
}

.card:hover{
    box-shadow:3px 3px 3px #A8C4F5;
}

.card img{
    width: 100%;
    border-radius: 4% 4% 0% 0%;
}

.col-4{padding: 4%;}

.grid-2_cards{
    padding: 2%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #1f0c24;
}


/*******************************hero***************************************/

#hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../img/fotosBladeRunner/fondoblade.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: 35%;
    position: relative;
    }

#hero button{
    font-size: medium !important;
    border-radius: 10px;
    padding: 20px 15px;
    position:absolute; 
    top: 66%;
    left: 50%;
    transform: translate(-50%,-50%);
    }

/********************************Intro Setion grid-2***********************************/

.grid-2_texto-foto{
    padding: 2%;
    display: grid;
    grid-template-columns: 80% 20%;
}


.col-2{padding: 4%;}

.grid-2_texto-foto img{
    width: 100%;
    border-radius: 0% 0% 0% 20%;
}

.grid-2_foto-texto img{
    width: 100%;
    border-radius: 0% 0% 20% 0%;
}

/************************************nav bar*******************************************/
nav{
    position: sticky;
    top:0;
    z-index: 99;
    font-family: cybertitulo;
}


.topnav {
    background-color: #210d27;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #A8C4F5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #A8C4F5;
    color: black;}

.topnav a.active {
    background-color: #906495;
    color: white;
}

.topnav .icon {
    display: none;
}

.fa-arrow-circle-o-up{position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 3em !important;
    opacity: 70%;
    z-index: 98;}

a .fa-arrow-circle-o-up{color: #906495;;}

/***********************************footer*******************************************/

footer{
    background-color: #17091B;
    color: #A8C4F5;
}

.grid-3d{
    display: grid;
    grid-template-columns: 50% 50%;
}

/***********************************responsibity********************************************/

@media only screen and (width<1400px) {

    #hero {background-size: cover;}
    h1{
        font-size: 800%;
        left: 250px;
    }
    #wrapper{width: 100%;}

}

@media only screen and (width<1200px){
    h1{
        font-size: 670%;
        left: 150px;
    }

    #wrapper{width: 100%;}

    .grid-2_cards{
        grid-template-columns: auto auto;
    }
    .grid-2_texto-foto{
        grid-template-columns: 50% 50%;
    }

    
}

@media only screen and (width<900px) {
    #hero {
        background-size: cover;
        width: 100%;
    }
    h1{
        font-size: 500%;
        left: 100px;
    }
    #wrapper{width: 100%;}
    
}

@media only screen and (width<800px) {
    #hero {
        background-size: cover;
        width: 100%;
    }
    h1{
        font-size: 450%;
        left: 50px;
    }
    #wrapper{width: 100%;}

    
    
    .grid-2_foto-texto{
        grid-template-columns: 40% 60%;
    }
}

@media only screen and (width<650px) {
    #hero {
        background-size: cover;
        width: 100%;
    }
    h1{
        font-size: 350%;
        top: 100px;
        left: 0px;
    }
    #wrapper{width: 100%;}

    p{font-size: small;}

    .grid-2_cards{
        grid-template-columns: auto;
    }

    h2{
        font-size: 125%;
    }
}


/******responsibidad de nav bar******/

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
    float: right;
    display: block;
    }
}

@media screen and (max-width: 850px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    }

    .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    }
}