/**********************************************************************************************************/
/*                                   Style Sheet for Cyberpunk web                                        */
/*                                        Author: Manuel Alarcón                                          */
/*                                             version: 1.0                                               */
/*                                   Comments: final project 2023-24                                      */
/**********************************************************************************************************/

/**************************************fonts********************************************/

@font-face{
    font-family: cybertitulo;
    src: url(../font/KogniGear.ttf);
    }

@font-face {
    font-family: cybertext;
    src: url(../font/spacejunkXL.ttf);
    }

/********************************general style********************************************/

body{
    background-image: url(../img/bckgrndpattern\(freepik\).png) ;
    color:  #A8C4F5;
    }

html{
    scroll-behavior: smooth;
}

h1{
    font-family: cybertitulo;
    color: #F942DD;
    position: absolute;
    top: 100px;
    left: 250px;
    font-size: 1000%;
    }

h2{
    font-family: cybertitulo;
    color: #F942DD;
    }

h3{
    font-family: cybertitulo;
    color: #F942DD;
    }

h4{
    font-family: cybertitulo;
    color: #F942DD;
    font-size: 300%;
    padding-top: 10%;
    text-align: center;
}

button{
    font-family: cybertext;
    background-color:#17091B;
    color:#A8C4F5;
    border-color: #F942DD;
    font-size: 1em;
    border-radius: 10px;
    padding: 10px 7.5px;
}

button:hover {
    background-color: #F942DD ;
    color:#17091B;
    border-color: #A8C4F5;
    cursor: pointer;
}

#cowboy{
    font-size: 1.2em;
}

#wrapper{
    width:80%;
    margin:auto;
    background-color: #17091B;
    font-family: cybertext; 
    }
    

    /************************************cards*******************************/

.card{
    width: 100%;
    border: 1px solid #F942DD;
    border-radius: 4%;
    background-color: #17091B;
}

.card button{
    display: block;
    margin:10px ;
    text-decoration: none;
}
.card:hover{
    box-shadow:3px 3px 3px #A8C4F5;
}

.card img{
    width: 100%;
    border-radius: 4% 4% 0% 0%;
}

.col-4{padding: 4%;}

.grid-2_cards{
    padding: 2%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #1f0c24;
}

#examples{
    padding-top: 5vh;
    background-color: #1f0c24;
}

/*******************************hero***************************************/

#hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../img/neon-purple-aesthetic-cyberpunk-street-cb5c3lcj2lqr4z6f.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: 35%;
    position: relative;
    }

#hero button{
    font-size: medium !important;
    border-radius: 10px;
    padding: 20px 15px;
    position:absolute; 
    top: 66%;
    left: 50%;
    transform: translate(-50%,-50%);
    }

/********************************Intro Setion grid-2***********************************/

.grid-2_texto-foto{
    padding: 2%;
    display: grid;
    grid-template-columns: 70% 30%;
}

.grid-2_foto-texto{
    padding: 2%;
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: #1f0c24;
}



.col-2{padding: 4%;}

.grid-2_texto-foto img{
    width: 100%;
    border-radius: 0% 0% 0% 20%;
}

.grid-2_foto-texto img{
    width: 100%;
    border-radius: 0% 0% 20% 0%;
}

/*****************************footer*************************************************/

footer{
    background-color: #17091B;
    color: #A8C4F5;
}

.grid-3d{
    display: grid;
    grid-template-columns: 50% 50%;
}

#marca{
    font-family: cybertitulo;
    color: #F942DD;
    font-size: 4em;
    text-align: center;
    padding: auto;
}

.fa-github{
    color: #A8C4F5;
    font-size: 1.5em !important;
}

#enlaces{
    color: #A8C4F5 !important;
    text-decoration: none !important;
}

#rights{
    text-align: right;
}

/************************************nav bar*******************************************/
nav{
    position: sticky;
    top:0;
    z-index: 99;
    font-family: cybertitulo;
}


.topnav {
    background-color: #210d27;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #A8C4F5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #A8C4F5;
    color: black;}

.topnav a.active {
    background-color: #F942DD;
    color: white;
}

.topnav .icon {
    display: none;
}

.fa-arrow-circle-up{
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 3em !important;
    opacity: 70%;
    z-index: 98;}

a .fa-arrow-circle-up{color: #F942DD;;}

/***********************************responsibity********************************************/

@media only screen and (width<1400px) {

    #hero {size: cover;}
    h1{
        font-size: 800%;
        left: 300px;
    }
    #wrapper{width: 100%;
    size: cover}

}

@media only screen and (width<1200px){
    h1{
        font-size: 670%;
        left: 200px;
    }

    #wrapper{width: 100%;}

    .grid-2_cards{
        grid-template-columns: auto auto;
    }
    .grid-2_texto-foto{
        grid-template-columns: 50% 50%;
    }

    
}

@media only screen and (width<900px) {
    #hero {
        background-size: cover;
        width: 100%;
    }
    h1{
        font-size: 500%;
        left: 150px;
    }
    #wrapper{width: 100%;}
    
}

@media only screen and (width<800px) {
    #hero {
        background-size: cover;
        width: 100%;
    }
    h1{
        font-size: 450%;
        left: 140px;
    }
    #wrapper{width: 100%;}

    .fa-arrow-circle-up{
        font-size: 2em !important;
        }

    .grid-2_foto-texto{
        grid-template-columns: 40% 60%;
    }
}

@media only screen and (width<650px) {
    #hero {
        background-size: cover;
        width: 100%;
    }
    h1{
        font-size: 300%;
        left: 70px;
    }
    #wrapper{width: 100%;}

    p{font-size: small;}

    .grid-2_cards{
        grid-template-columns: auto;
    }

    h2{
        font-size: 125%;
    }
}


/******responsibidad de nav bar******/

@media screen and (max-width: 750px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
    float: right;
    display: block;
    }
}

@media screen and (max-width: 850px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    }

    .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    }
}