/**********************************************************************************************************/
/*                                   Style Sheet for Origins web                                          */
/*                                        Author: Manuel Alarcón                                          */
/*                                             version: 1.0                                               */
/*                                   Comments: final project 2023-24                                      */
/**********************************************************************************************************/

/**************************************fonts********************************************/

@font-face{
    font-family: cybertitulo;
    src: url(../font/KogniGear.ttf);
    }

@font-face {
    font-family: cybertext;
    src: url(../font/spacejunkXL.ttf);
    }

/********************************general style********************************************/

body{
    background-image: url(../img/bckgrndpattern\(freepik\).png) ;
    color:  #A8C4F5;
}

h2{
    font-family: cybertitulo;
    color: #F942DD;
    }

h3{
    font-family: cybertitulo;
    color: #F942DD;
    font-size: 1.7em;
    }

h4{
    font-family: cybertitulo;
    color: #F942DD;
    font-size: 600%;
    padding-top: 10%;
    text-align: center;
}

button{
    font-family: cybertext;
    background-color:#17091B;
    color:#A8C4F5;
    border-color: #F942DD;
    font-size: 1em;
    border-radius: 10px;
    padding: 10px 7.5px;
    float: right;
}

button:hover {
    background-color: #F942DD ;
    color:#17091B;
    border-color: #A8C4F5;
    cursor: pointer;
}


#wrapper{
    width:80%;
    margin:auto;
    background-color: #17091B;
    font-family: cybertext; 
    }
    

/**************************accordion*****************************/

*,
*::before,
*::after{
    margin:0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}


section {
    width: 100%;
    height: 80vh;
    background-color: #17091B;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.accordion-item{
    background-color: #17091B;
    border-radius: .4rem;
}

.accordion-item hr{
    border: 1px solid #F942DD;
}

.accordion-link{
    font-size: 1.6rem;
    color: rgba(255,255,255,.8);
    text-decoration: none;
    background-color: #17091B;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.accordion-link h3{
    font-weight:500;
    font-size: 20px;
}

.accordion-link i{
    color: #e7d5ff;
    padding: .5rem;
}

.accordion-link ul{
    display:flex;
    align-items: flex-end;
    list-style-type: none;
    margin-left: 25px;
}

.accordion-link li{
    font-size: 10px;
    color: rgba(255, 255, 255, 0.4);
    padding: 0 0 1px 5px;
}

.accordion-link div{
    display: flex;
}

.accordion-link .ion-md-arrow-down{
    display: none;
}

.answer{
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: #1f0c24;
    transition: max-height 650ms;
}

.answer p{
    color: #A8C4F5;
    font-size: 15px;
    padding: 2rem;
}

.accordion-item:target .answer{
    max-height: 20rem;
}

.accordion-item:target .accordion-link .ion-md-arrow-forward{
    display: none
}

.accordion-item:target .accordion-link .ion-md-arrow-down{
    display: block;
}

/********************************Intro Setion grid-2***********************************/

.grid-2_texto-foto{
    padding: 2%;
    display: grid;
    grid-template-columns: 70% 30%;
}

.grid-2_foto-texto{
    padding: 2%;
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: #1f0c24;
}



.col-2{padding: 4%;
    font-size: 1.4;}

.grid-2_texto-foto img{
    width: 100%;
    border-radius: 0% 0% 0% 20%;
}

.grid-2_foto-texto img{
    width: 100%;
    border-radius: 0% 0% 20% 0%;
}

/***********************************footer*******************************************/

footer{
    background-color: #17091B;
    color: #A8C4F5;
}

.grid-3d{
    display: grid;
    grid-template-columns: 50% 50%;
}

#marca{
    font-family: cybertitulo;
    color: #F942DD;
    font-size: 3em;
    text-align: center;
    padding: auto;
}

.fa-github{
    color: #A8C4F5;
    font-size: 1.5em !important;
}

#enlaces{
    color: #A8C4F5 !important;
    text-decoration: none !important;
}


a:link{
    color: #A8C4F5;
    text-decoration: none;
}

a:visited{color: #A8C4F5;}

a:hover {
    color: #F942DD; 
    box-shadow: -1px 2px 0px #F942DD; 
}

a:active { text-decoration: none; }


#rights{
    text-align: right;
}

/************************************nav bar*******************************************/
nav{
    position: sticky;
    top:0;
    z-index: 99;
    font-family: cybertitulo;
}


.topnav {
    background-color: #210d27;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #A8C4F5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #A8C4F5;
    color: black;}

.topnav a.active {
    background-color: #F942DD;
    color: white;
}

.topnav .icon {
    display: none;
}

.fa-arrow-circle-up{position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 3em !important;
    opacity: 70%;
    z-index: 98;}

a .fa-arrow-circle-up{color: #F942DD;;}

/***********************************responsibity********************************************/

@media only screen and (width<1400px) {

    #hero {size: cover;}
    h3{
        font-size: 800%;
        left: 300px;
    }
    
}

@media only screen and (width<1200px){
    h3{
        font-size: 670%;
        left: 200px;
    }
    
    #wrapper{width: 100%;}
    
    .grid-2_cards{
        grid-template-columns: auto auto;
    }
    
    
}

@media only screen and (width<900px) {
    .grid-2_texto-foto{
        grid-template-columns: 100%;
    }

    h4{
        font-size: 400%;
    }

    #hero {
        background-size: cover;
        width: 100%;
    }
    h3{
        font-size: 500%;
        left: 150px;
    }
    #wrapper{width: 100%;}
    
    .grid-2_foto-texto{
        grid-template-columns: 100%;
    }
    
}

@media only screen and (width<800px) {
    #wrapper{width: 100%;
    size: cover}
    
    .accordion-item:target .answer{
        max-height: 30rem;
    }

    #hero {
        background-size: cover;
        width: 100%;
    }
    h3{
        font-size: 450%;
        left: 100px;
    }
    #wrapper{width: 100%;}

    p{font-size:80% !important;
    }
    
    .fa-arrow-circle-up{
        font-size: 2em !important;
        }

    footer{
        margin-top: 20%;
    }
}

@media only screen and (width<650px) {
    #hero {
        background-size: cover;
        width: 100%;
    }
    h3{
        font-size: 250%;
        left: 25px;
    }

    h4{
        font-size: 250%;
    }

    #wrapper{width: 100%;}


    .grid-2_cards{
        grid-template-columns: auto;
    }

    h2{
        font-size: 125%;
    }
}


/******responsibidad de nav bar******/

@media screen and (max-width: 750px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
    float: right;
    display: block;
    }
}

@media screen and (max-width: 850px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    }

    .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    }
}